<hr>
<div class="row">
  <div class="col-xl-12">
    <button class="btn btn-primary">New Recipe</button>
  </div>
</div>
<hr>
<div class="list-group">
  <a href="#"
     class="list-group-item list-group-item-action"
     *ngFor="let recipe of recipes">
    <div class="float-left">
      <h4>{{recipe.name}}</h4>
      <p>{{recipe.description}}</p>
    </div>

    <span class="float-right">
        <img
          [src]="recipe.imagePath"
          alt="{{recipe.name}}"
          class="img-fluid "
          style="max-height: 50px;">
      </span>
  </a>
  <app-recipe-item></app-recipe-item>
</div>






